{% extends "base.html" %}

{% block content %}
    <div id="index-banner">
        <div class="section no-pad-bot">
            <div class="container">

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row center">
                        <h2 class="center dynamic-header">Next <span></span></h2>
                        <h5 class="col s12 light">Where will you go next?</h5>
                        <div class="input-field col l11 s11">
                            <i class="material-icons prefix">location_on</i>
                            <input type="text" name="location" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">Next Destination</label>
                        </div>
                        <div class="input-field col l1 s1">
                            <button class="btn waves-effect waves-light" type="submit">
                                <i class="large material-icons">search</i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            <br><br>
        </div>
    </div>

    {% if recommended_tours %}
        <div class="container">
            <h4 class="center-align teal-text text-darken-2">Recommended Tours Just for You</h4>
            <div class="row">
                {% for tour in recommended_tours %}
                    <div class="col l4 m6 s12">
                        <a href="#" class="card-link">
                            <div class="card teal lighten-2 hoverable">
                                <div class="card-image">
                                    <img src="{{ MEDIA_URL }}{{ tour.images.all.first.image }}" alt="{{ tour.name }}">
                                </div>
                                <div class="card-content white-text">
                                    <span class="card-title">{{ tour.name }}</span>
                                    <p>{{ tour.description }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
        </div>
    {% endif %}


{% endblock %}