{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GlobeAll{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" media="screen,projection">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body>
<header>
    <nav class="white">
        <div class="nav-wrapper container">
            <img src="{% static 'images/favicon.png' %}" alt="Logo" class="logo-image">
            <a href="{% url 'home' %}" class="brand-logo teal-text">
                GlobeAll
            </a>
            <ul class="right">
                <li><a href="{% url 'explore' %}" class="grey-text text-darken-4">Explore</a></li>
                <li>
                    <a href='#' class="dropdown-trigger btn" data-target="account-dropdown">
                        My Account
                        <i class="material-icons right">menu</i>
                    </a>
                </li>
            </ul>
            <ul id="account-dropdown" class="dropdown-content">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'bookings' %}">My Bookings</a></li>
                    <li><a href="{% url 'settings' %}">Settings</a></li>
                    <li><a href="#logout-form" class="logout-link">Log Out</a></li>
                {% else %}
                    <li><a href="#login-modal" class="modal-trigger">Log In</a></li>
                    <li><a href="#register-modal" class="modal-trigger">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer class="page-footer white">
    <div class="divider"></div>
    <div class="container">
        <div class="row">
            <div class="col l8 s12">
                <h5 class="teal-text">GlobeAll</h5>
                <p class="grey-text text-darken-4">Educational project of the travel agency</p>
            </div>
            <div class="col l4 s4">
                <h5 class="teal-text">More</h5>
                <ul>
                    <li><a class="teal-text" href="https://github.com/anthonyc1/TravelLite" target="_blank">Design</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="center-align grey-text text-darken-4">Made by <a class="teal-text" href="https://t.me/Hate1Killa"
                                                                       target="_blank">Malaev Stepan</a></p>
        </div>
    </div>
</footer>

<!-- Modal -->
<div id="login-modal" class="modal">
    <div class="modal-content">

        <form id="login-form" class="ajax-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h4 class="center-align">Login</h4>
            <div class="input-field">
                <input type="email" id="login-email" name="email" required>
                <label for="login-email">Email Address</label>
            </div>
            <div class="input-field">
                <input type="password" id="login-password" name="password" required>
                <label for="login-password">Password</label>
            </div>
            <div class="form-status section">
                <div class="circle-loader">
                    <div class="status draw"></div>
                </div>
                <div class="message"></div>
            </div>
            <button type="submit" class="btn waves-effect waves-light">Log In</button>
        </form>
    </div>
</div>

<div id="register-modal" class="modal">
    <div class="modal-content">
        <form id="register-form" class="ajax-form" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <h4 class="center-align">Register</h4>
            <div class="input-field">
                <input type="email" id="register-email" name="email" required>
                <label for="register-email">Email Address</label>
            </div>
            <div class="input-field">
                <input type="password" id="register-password" name="password" required>
                <label for="register-password">Password</label>
            </div>
            <div class="input-field">
                <input type="password" id="confirm-password" name="confirm_password" required>
                <label for="confirm-password">Confirm Password</label>
            </div>
            <div class="form-status section">
                <div class="circle-loader">
                    <div class="status draw"></div>
                </div>
                <div class="message"></div>
            </div>
            <button type="submit" class="btn waves-effect waves-light">Register</button>
        </form>
    </div>
</div>

<!-- Form -->
<form id="logout-form" action="{% url 'logout' %}" method="post" class="hidden">
    {% csrf_token %}
</form>

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js" type="text/javascript"></script>
<script src="{% static 'js/materialize.js' %}" type="text/javascript"></script>
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
</body>
</html>